pandas~=3.0.2
numpy~=2.4.4
matplotlib~=3.10.8
requests~=2.33.1
httpx~=0.28.1
tqdm~=4.67.3
pycoingecko~=3.2.0
python-okx~=0.4.1
python-dotenv~=1.2.2
cachetools~=7.0.5
grpcio~=1.78.1
protobuf~=7.34.1
python-dateutil~=2.9.0
deprecation~=2.1.0
